@import "tailwindcss";


@theme inline {
  --color-primary: #22385C;
  --color-secondary: #22385C;
  --color-tertiary: #D9D9D9;
  --color-title: #4E4E4E;
  --color-light-gray: #E7F0FA;
}


body {
  font-family: "Poppins", sans-serif;
}

